@import '../../sass/variables';

body {
    margin: 0 !important;
    padding: 0 !important;
}

.project-panel {
    border: none;

    .panel-heading {
        background: $dark;
        color: white;
    }

    .project-link-container {
        width: 100%;
        padding-top: 5px;

        a {
            button {
                background: $dark;
                color: white;

                &:hover {
                    color: $blue;
                }
            }
        }
    }
}

.project-section-title {
    width: 50%;
    margin: 0 auto;
    background: $dark;
    color: $blue;
    border: none;
    overflow: hidden;
    word-wrap: break-word;
    margin-bottom: 25px;
}

.skills-section-title {
    width: 50%;
    margin: 0 auto;
    background: $dark;
    color: $blue;
    border: none;
    overflow: hidden;
    word-wrap: break-word;
    margin-bottom: 25px;
}

@media screen and (max-width: 850px) {
    .project-section-title, .skills-section-title {
        width: 90% !important;
    }
}
