<nav class='navbar navbar-default' role='navigation'>
    <div class='navbar-header'>
        <button type='button' class='navbar-toggle' ng-init='isNavCollapsed=true' ng-click='isNavCollapsed = !isNavCollapsed'>
            <span class='sr-only'>Toggle navigation</span>
            <span class='icon-bar'></span>
            <span class='icon-bar'></span>
            <span class='icon-bar'></span>
        </button>
        <div><img id='navbar-img' src='/images/akyunatransparent.png'/></div>
    </div>
    <div class='collapse navbar-collapse' uib-collapse='isNavCollapsed'>
        <ul class='nav navbar-nav'>
            <li>
                <a href='/Akyuna_Akish_Resume.pdf' target='_blank'>Resume</a>
            </li>
        </ul>
    </div>
</nav>
