<navbar-directive></navbar-directive>
<details-directive></details-directive>

<div class='project-section-title panel panel-default'>
    <div class='panel-body text-center'>
        <h1>Projects</h1>
    </div>
</div>

<div class='container-fluid'>
    <div class='row-fluid'>
        <div class='col-lg-3' ng-repeat='project in vm.projects'>
            <div class='item'>
                <div class='content'>
                    <div class='project-panel panel panel-default'>
                        <div class='panel-heading text-center' ng-bind='project.title'></div>
                        <div class='panel-body'>
                            <a ng-href='{{project.live}}' target='_blank'>
                                <img class='project-img center-block' ng-src='{{project.img}}'>
                            </a>
                            <div class='project-link-container text-center'>
                                <a ng-href='{{project.github}}' target='_blank'>
                                    <button type='button' class='btn fa fa-github'>
                                        GitHub Repo
                                    </button>
                                </a>
                                <a class='project-links' ng-href='{{project.live}}' target='_blank'>
                                    <button type='button' class='btn fa fa-globe'>
                                        Live Site
                                    </button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
