<div class='profile-image-container'>
    <a class='thumbnail'>
        <img src='/images/Akyuna_Akish.jpg' alt='Akyuna Akish'>
    </a>
</div>

<div class='details-panel panel panel-default'>
    <div class='panel-body'>
        <h3>Full Stack Web/Application Developer</h3>
        <h5>Boulder, CO</h5>
        <a href='https://github.com/AkyunaAkish' target='_blank'>
            <button type='button' class='btn fa fa-github'>
                GitHub
            </button>
        </a>
        <a href='https://www.linkedin.com/in/akyunaakish' target='_blank'>
            <button type='button' class='btn fa fa-linkedin'>
                LinkedIn
            </button>
            <a href='mailto:akyunaakish@gmail.com'>
                <button type='button' class='btn fa fa-envelope'>
                    akyunaakish@gmail.com
                </button>
            </a>
            <a href='tel:17605856334'>
                <button type='button' class='btn fa fa-phone'>
                    760-585-6334
                </button>
            </a>
        </div>
    </div>

    <div class='skills-panel panel panel-default'>
        <div class='panel-body'>
            <button type='button' class='btn devicons devicons-html5'>
                HTML
            </button>
            <button type='button' class='btn devicons devicons-css3'>
                CSS
            </button>
            <button type='button' class='btn devicons devicons-sass'>
                SASS
            </button>
            <button type='button' class='btn devicons devicons-bootstrap'>
                Bootstrap
            </button>
            <button type='button' class='btn devicons devicons-javascript_badge'>
                JavaScript
            </button>
            <button type='button' class='btn devicons devicons-jquery'>
                jQuery
            </button>
            <button type='button' class='btn devicons devicons-atom'>
                ReactJS
            </button>
            <button type='button' class='btn devicons devicons-atom'>
                Redux
            </button>
            <button type='button' class='btn devicons devicons-angular'>
                AngularJS
            </button>
            <button type='button' class='btn devicons devicons-atom'>
                Webpack
            </button>
            <button type='button' class='btn devicons devicons-gulp'>
                GulpJS
            </button>
            <button type='button' class='btn devicons devicons-nodejs_small'>
                NodeJS
            </button>
            <button type='button' class='btn devicons devicons-atom'>
                ExpressJS
            </button>
            <button type='button' class='btn devicons devicons-atom'>
                Socket.io
            </button>
            <button type='button' class='btn devicons devicons-postgresql'>
                PostgreSQL
            </button>
            <button type='button' class='btn devicons devicons-mongodb'>
                MongoDB
            </button>
            <button type='button' class='btn devicons devicons-atom'>
                API Development
            </button>
            <button type='button' class='btn devicons devicons-firebase'>
                Firebase
            </button>
            <button type='button' class='btn devicons devicons-git'>
                Git/Github
            </button>
            <button type='button' class='btn devicons devicons-npm'>
                NPM
            </button>
            <button type='button' class='btn devicons devicons-bower'>
                Bower
            </button>
            <button type='button' class='btn devicons devicons-terminal'>
                Terminal
            </button>
            <button type='button' class='btn devicons devicons-atom'>
                TDD
            </button>
            <button type='button' class='btn devicons devicons-atom'>
                Mocha/Chai/Jasmine
            </button>
            <button type='button' class='btn devicons devicons-atom'>
                Deployment
            </button>
            <button type='button' class='btn devicons devicons-heroku'>
                Heroku
            </button>
        </div>
    </div>
